
 

 
 
 
 
 
body {
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #3c3c3c;
  color: #fff;
}
ul {
    list-style-position: inside;
    padding-left:3px;
    padding-right:none;
}

li
{
  padding: none;
}

hr {
height: 2px;
color: gray;
background-color: black;
border: none;
}


#site-wrapper {
position: relative;
overflow: hidden;
width: 100%;
min-height:400px;
height: auto; 
background-color:#3c3c3c;

}

#site-canvas {
  width:100%;
  height: auto;
  position: relative;
  background-color:#3c3c3c;
  border:4px;
  border-color:white;
  padding-top:2px;
  margin-bottom: 50px;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
-webkit-transition: all 300ms cubic-bezier(0.32,1.25,0.375,1.15);
  transition: all 300ms cubic-bezier(0.32,1.25,0.375,1.15);

 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
    
  
}



.show-nav #site-canvas {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}
#site-menu {
  width:200px;
  height: 400px;
  position: absolute;
  top: 0;
  left: -200px;
  background-color: #222;
  opacity:0.9;
  padding: 15px;
  border-style: dashed;
  border-width:3px;
  border-radius:5px;
  border-color:#000000;
 
}

.jumbotron {
  	color: #fff !important;
  	background-color: black;
  	width:100%;
  	display: inline-block;
  	position: relative;
  	padding: .5em 1em;
  	border:4px;
    border-color:white;
    margin:auto;

}
.jumbotron {
    text-align:center;
}

.jumbotron div {
  display:inline-block;
  margin:auto;
  
}

#map-canvas {
   border:2px solid black;
   
   border-radius: 30px;
   box-shadow: 8px 8px 5px #777777;
   
   margin: 10px;
   margin-bottom: 20px;
   padding: 0;
   height: 500px;
   width:100%;
   max-width: none;
}
#map-canvas img {
   max-width: none !important;
   
}

#content {
    text-align: left;
    color:black;
    max-height:200px;
    max-width: 400px;
}

#firstHeading {
    padding-top:10px;
}

#siteNotice {
    color:black;
    background-color: rgba(15,15,15,0.7);
}


#address-input {
    position: relative;
  background-color:black;
   box-shadow: 0 0 10px gray;
   margin:10px;
}

#address-input:focus {
    outline: none !important;
    border:1px solid black;
    border-style: double;
    box-shadow: 0 0 10px gray;
}
 #info-box {
    background-color:#222;
    outline: none !important;
    border:2px solid black;
    border-radius:30px;
    box-shadow: 0 0 10px gray;
 }
 
 .parallax { 
     
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
